/*****************************
42. Cart CSS
*****************************/
.cart-collaterals{
	background: $color-white-light-5;
}
.cart-totals{
	padding: 3rem 3rem 0;
	margin-bottom: 1.5rem;	
}