@font-face {
  font-family: 'averta-bold';
  src: url('../fonts/Averta-Bold.otf'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS*/ 
}

@font-face {
  font-family: 'averta-light';
  src: url('../fonts/Averta-Light.otf'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS*/ 
}

@font-face {
  font-family: 'averta-regular';
  src: url('../fonts/Averta-Regular.otf'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS*/ 
}

@font-face {
  font-family: 'oswald-medium';
  src: url('../fonts/Oswald-Medium.ttf'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS*/ 
}


@font-face {
  font-family: 'myriad-pro';
  src: url('../fonts/myriad-pro.otf'); /* IE9 Compat Modes */
  /*src: url('webfont.eot?#iefix') format('embedded-opentype'), 
       url('webfont.woff2') format('woff2'),  Super Modern Browsers 
       url('webfont.woff') format('woff'), Pretty Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS*/ 
}

.oswald-medium{
    font-family: 'oswald-medium' !important;
}

.averta-bold{
    font-family: 'averta-bold' !important;
}

.averta-light{
    font-family: 'averta-light' !important;
}

.averta-regular{
    font-family: 'averta-regular' !important;
}

.myriad-pro{
    font-family: 'myriad-pro' !important;
}

.post-title, .widget-title{
    font-family: 'averta-bold' !important;
}

.post-content, .post-meta{
    font-family: 'averta-regular' !important;
}

.btn, button{
    font-family: 'oswald-medium' !important;
}

.tp-caption.LA_white_btn,
.LA_white_btn, .tp-caption.LA_Black_btn,
.LA_Black_btn {
    font-family: 'oswald-medium';
}

.breadcrumb li>a{
    font-family: 'averta-regular'
}

.footer .footer-widget ul li a, .copyright-text{
    font-family: 'averta-light';
}

.header{
    background-color: black;
}

.header:not(.header-transparent) .main-navigation .mainmenu__link, .header:not(.header-transparent) .header-toolbar__item > a{
    color: rgba(255,255,255, .7) !important;
}

.header:not(.header-transparent) .main-navigation .mainmenu__link:hover, .header:not(.header-transparent) .header-toolbar__item > a:hover{
    color: rgba(255,255,255, 1) !important;
}

.align-items-center>.order-2>.header-toolbar>li>a{
    color: white !important;
}

#contenedorBannerM a {
    display: block !important;
    max-width: 200px !important;
    margin: 0 auto !important;
}

@media only screen and (max-width: 1054px) {
    .contenedorIdioma>li>a{
        font-size: 12px;
    }
    
    .contenedorIdioma>li{
        display: inline-block;
        float: left;
        padding: 0 3px !important;
    }
}

.contenedorIdioma>li{
    display: inline-block;
    float: left;
    padding: 0 4px;
}

.header-toolbar .contenedorIdioma>li>a{
    color: rgba(255, 255, 255, .7);
}

.contenedorIdioma>.langAct>a{
    color: white !important;
}

.es {
    border-right: 1px solid white;
}

.bold {
    font-weight: bold !important;
}


.sticky-header {
    background-color: #000 !important;
}

.breadcrumb {
    background-color: transparent !important;
}

.breadcrumb-area .breadcrumb li a{
    color: black
}

.breadcrumb-area .breadcrumb li:not(:last-child) {
    padding-right: 1rem;
    margin-right: .5rem;
}

.breadcrumb-area .breadcrumb li {
    display: inline-block;
}

.breadcrumb-area .breadcrumb li a {
    z-index: 1;
}

.breadcrumb-area .breadcrumb li a, .breadcrumb-area .breadcrumb li span {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.breadcrumb-area .breadcrumb li a{
    position: relative;
}

.breadcrumb-area .breadcrumb li:not(:last-child):after {
    content: '|';
    right: 0;
    top: 4px;
    font-size: 10px;
}

.copyright-text{
    color: rgba(255,255,255,.7);
}

.current>span{
    color: black !important;
}

.quantity .qtybutton.inc {
    right: 0;
}

.quantity .qtybutton.dec {
    left: 0;
}

.quantity .qtybutton {
    position: absolute;
    height: 6.8rem;
    cursor: pointer;
    width: 2rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 6.8rem;
    top: 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.quantity-input {
    background: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 1px solid #DEDEDE;
    line-height: 4rem;
    color: inherit;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.quantity {
    margin-right: 1rem;
    height: 7rem;
    width: 8rem;
}

.txtPrecio {
    color: black;
    font-size: 36px !important;
}

.product-summary .product-title {
    font-size: 36px;
    margin: 10px 0 3px;
    font-weight: normal;
    line-height: 1.2;
}
.subrayado {
    text-decoration: underline;
}

.textBlack{
        color: black !important;
    }

.tablaInformacion {
    border-bottom: 3px solid black !important;
}

.bannerStart.banner-box.banner-type-2 .banner-info{
    align-items: flex-start;
    padding-left: 20px;
}

.sectionTitle {
    font-size: 25px;
}

.imgEchos {
    max-width: 230px;
    margin: 0 auto;
    display: block;
    margin-top: 18px;
}

.btnUnete {
    background-color: white;
    color: black;
    margin-top: 20px;
    min-width: 225px;
    max-height: 50px;
}

.btnTienda {
    background-color: black;
    color: white;
    margin-top: 20px;
    min-width: 225px;
    max-width: 225px;
    max-height: 50px;
    display: block !important;
    margin: 0 auto;
}

.bg-gris {
    background-color: #1f1f1f;
}

.main-navigation .mainmenu__link:hover > .mm-text::before{
    visibility: visible;
    opacity: 1;
}

.main-navigation .mainmenu__link > .mm-text::before{
    position: absolute;
    content: ':';
    left: -7px;
    bottom: 20px;
    width: 0;
    height: 1px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: width 0.1s ease-in;
    -moz-transition: width 0.1s ease-in;
    -ms-transition: width 0.1s ease-in;
    -o-transition: width 0.1s ease-in;
    transition: width 0.1s ease-in;
    top: -3px;
}

.header:not(.header-transparent) .main-navigation .menuActivo{
    color: white !important
}

.main-navigation .menuActivo > .mm-text::before{
    position: absolute;
    content: ':';
    left: -7px;
    bottom: 22.9px;
    font-size: 17px;
    width: 0;
    height: 1px;
    background-color: white;
    visibility: visible;
    opacity: 1;
    -webkit-transition: width 0.1s ease-in;
    -moz-transition: width 0.1s ease-in;
    -ms-transition: width 0.1s ease-in;
    -o-transition: width 0.1s ease-in;
    transition: width 0.1s ease-in;
    top: -3px;
}

.iconPuntos {
    max-height: 18px;
    display: inline-block;
    float: right;
    margin-top: 8px;
}

.titleBeneficios{
    display: inline-block;
}

.bg--gris {
    background-color: #2d2d2d;
    color: white;
}

.contenedorSocials>li>a{
    color: white !important;
    font-size: 17px !important;
}

.contenedorSocials>li{
    display: inline-block;
    padding: 0 10px 10px 10px
}

.contenedorSocials{
    text-align: left;
}

.contenedorPagos{
    width: 100%
}

.contenedorPagos>li>a>.paypal{
    padding-top: 5px;
    padding-right: 0;
}

.contenedorPagos>li>a>img{
    padding: 0 15px 0 0;
    float: left
}

.contenedorPagos>li{
    display: inline-block;
    float: left;
    width: 50%;
}

.posted-on {
    color: black !important;
}

.posted-by {
    color: black !important;
}

.single-post-details {
    border-bottom: 3px solid black;
    margin-bottom: 25px
}

.subscribe-btn {
    display: inline-block;
}

.titleQuieres {
    font-size: 25px;
    color: white;
}

.bgPopup {
    background-image: url(../img/banner/bannerPopup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 991px){
    .banner-btn-2 {
    max-width: 149px !important;
    max-height: 33px !important;
        line-height: 3rem !important;
}
    .banner-btn-2 span.hover-view:before {
        right: 2px !important;
    }
}


@media only screen and (max-width: 771px){
    .about-bg-1 {
    margin: 0;
}
    
    .rowCaracteristicas .titleAfter::after {
        position: absolute;
        content: "";
        background-image: url(../img/icons/iconPuntitos.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: auto !important;
        top: 6px !important;
        font-size: 20px;
        height: 14px !important;
        width: 7px !important;
        padding-left: 25px;
    }
    
    .footer{
        text-align: center !important;
    }
    
    .contenedorPagos{
        text-align: center !important;
        width: 100% !important;
    }
    
    .contenedorPagos li{
        display: inline-block !important;
        float: none;
        margin: 0 !important;
    }
    
    .contenedorPagos li>a>img{
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    
    .contenedorSocials{
        text-align: center !important;
    }
    
    .ai-newsletter-popup-body {
        margin: 1rem 2rem !important;
    }
    
    
    .ai-newsletter-popup {
        overflow: scroll;
    }
    
    .btn-small {
        min-height: 3rem;
        font-size: 1.1rem !important;
        padding: .5rem .5rem !important;
        min-width: 10rem !important;
    }
    
    .popup-newsletter-form>.dont-show-popup {
        font-size: 1rem !important;
    }
    
    .checkAcepto{
        float: left
    }
    
    .ai-newsletter-popup .row, .row{
        margin-right: 0 !important;
    margin-left: 0 !important;
    }
    
    .contenedorRegistro, .contenedorQuieres{
        padding-left: 0px !important;
    }
}

.contenedorRegistro, .contenedorQuieres{
    padding-left: 90px;
}

.btnSaber {
    padding-top: 8px;
    color: black;
}

.banner-btn-2:hover span.normal-view{
    color: white;
}

.user-info-menu-btn:hover .user-info-menu {
    background-color: black;
}

.rowCaracteristicas .titleAfter, .rowCaracteristicas .sectionTitle{
    font-size: 20px;
}

.rowCaracteristicas .titleAfter::after{
    position: absolute;
    content: "";
    background-image: url('../img/icons/iconPuntitos.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 0px;
    top: 6px;
    font-size: 20px;
    height: 15px;
    width: 10px;
}

.btnUnete:hover{
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
}

.btnUnete{
    background-color: white !important;
    color: black !important;
}

.product-action a i:hover{
    background-color: black !important
}

.btnTienda:hover{
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
.money {
    font-family: 'oswald-medium' !important;
}

.product-title {
    font-family: 'averta-bold' !important;
}

.expand-btn:hover {
    color: black !important; 
}

.user-dashboard-tab__head .nav-link.active{
    border: none !important;
    font-family: 'averta-bold' !important;
    text-transform: uppercase;
}

.user-dashboard-tab__head {
    background-color: transparent !important;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}

.user-dashboard-tab__head .nav-link {
    display: block;
    padding-left: 0 !important;
    padding: 1rem 3rem;
    color: rgba(126, 126, 126, .7);
    text-transform: uppercase;
    font-family: 'averta-bold';
    font-size: 16px;
}
.bb2 {
    border-bottom: 1px solid;
}

.f-right {
    float: right;
}

.product-pages {
    padding-right: 5px;
}

.font-24 {
    font-size: 24px;
}

.form__input::placeholder{
    color: gray !important;
}

.btn-centrado {
    margin: 0 auto;
    display: block !important;
}

.tableResumen th{
    font-family: 'averta-bold';
}

.tableResumen td{
    font-family: 'averta-light' !important;
    font-weight: 100 !important;
}

.tableResumen th, .tableResumen td{
    padding: 7px 0 !important;
}

.txtInicia {
    text-decoration: underline;
    display: inline-block !important;
    cursor: pointer;
}

.txtInicia1 {
    text-decoration: underline;
    display: inline-block !important;
}

.txtInicia2 {
    font-family: 'averta-bold';
    display: inline-block !important;
}

.tdInicia {
    width: 100%;
    text-transform: none !important;
}

.txtDescubre {
    text-transform: none;
    line-height: 1.5;
}

.tabla-pedido tbody tr:last-child th{
    padding-bottom: 30px;
}

.tfootResumen th{
    width: 40% !important;
}

.tfootResumen td .order-total-disccount{
    color: red;
}

.tfootResumen td{
    width: 45% !important;
    text-align: left !important;
}

.btn-style-6 {
    background-color: #b6b6b6 !important;
}

.btn-style-6:hover {
    background-color: transparent!important;
    border: 1px solid #b6b6b6 !important; 
    color: #b6b6b6;
}

.alertaMinimo {
    text-align: right;
    color: red;
}

.bt2 {
    border-top: 1px solid black;
    padding-top: 15px;
}

.popProds1 {
    max-height: 1000px;
    overflow: scroll;
}

.popProds {
    max-height: 750px;
    overflow: scroll;
}

.font-25 {
    font-size: 25px;
}

.post-title a{
    text-transform: none !important;
}

.titleUnete {
    font-size: 28px;
}

#modal_titulo{
    height: auto !important;
}

@media only screen and (max-width: 771px){
    .about-bg-1, .about-bg-l, .about-bg-6, .about-bg-k {
        margin: 0 !important;
        padding: 0 !important;
        background-size: cover !important;
    }
    
}