/*****************************
03. Common
*****************************/


/*-- Background Images --*/

.page-bg-1{
	background: #fff url(../img/banner/m16-bg1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 11% auto;
}
.bg-1{
	background: url(../img/banner/m11-bg1.jpg) no-repeat scroll center/cover;
}

.enable-header-aside:not(.enable-header-transparent){
	.main-content-wrapper{
		margin-left: 370px;
		@include breakpoint(xlarge){
			margin-left: 270px;
		}
		@include breakpoint(medium){
			margin-left: 0;
		}
	}
}

/*-- Notice Text --*/

.notice-text{
	&-wrapper{
		@extend %posrelative;
		*{
			@include transition(all .3s ease);
		}
		.close-notice{
			@extend %posabsolute;
			right: 2rem;
			top: 50%;
			font-size: 2rem;
			height: 2rem;
			margin-top: -1rem;
		}
		&-2{
			.close-notice{
				color: #fff;
				@include breakpoint(medium){
					right: 0;
				}
			}
		}
	}
	text-transform: uppercase;
	@extend %white-color;
	margin-bottom: 0;
	letter-spacing: 1px;
	span{
		strong{
		    font-size: inherit;
		    font-weight: 600;
		    margin-top: 0;
		    line-height: inherit;
		}
	}
	strong{
	    font-size: 28px;
	    font-weight: 500;
	    vertical-align: middle;
	    line-height: 1;
	    display: inline-block;
	    margin-top: -4px;
	}
	&-close{
		.close-notice{
			@include transform(scale(0,0));
		}
	}

	&-2{
		margin: 5px 0;
		text-align: center;
		font-size: 1.8rem;
		padding: 1rem;
		text-transform: capitalize;
		letter-spacing: 0px;
		@include breakpoint(medium){
			padding: 1rem 0;
			text-align: left;
		}
		@include breakpoint(small){
			font-size: 1.6rem;
			text-align: center;
		}
	}
}

/*-- Bootstrap Dropdown --*/

.dropdown-toggle{
	cursor: pointer;
	margin-right: 2px;
	font-size: 1.2rem;
	color: $heading-color;
	&:not([href]):not([tabindex]){
		color: $heading-color;
	}
	&:after{
		display: none;
	}
	span{
		margin-right: .9rem;
		@include breakpoint(large){
			display: none;
		}
	}
	i{
		font-size: 14px;
		font-weight: 700;
		padding-left: 3px;
	}
}

.dropdown-menu{
	@extend %dropdowncommon;
	top: 1.5rem !important;
	right: -2rem !important;
	@include breakpoint(xsmall){
		right: 50% !important;
		margin-right: -70px;
		top: 1rem !important;
	}																		
}

.dropdown-item{
	font-size: 1.3rem;
	line-height: 2;
	padding: .8rem 0;
	display: block;
	white-space: unset;
	width: inherit;
    color: $heading-color;
    &:not(:last-child){
    	background: url(../img/others/line2.png) bottom center no-repeat;
    }
	img{
		margin-right: .5rem;
	}
    &:hover{
		background-color: transparent;
		@extend %primary-color;
    }
}

/*-- Breadcumb --*/

.breadcrumb-area{
	@extend %posrelative;
	&:after{
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}
	.page-title{
		font-size: 4.2rem;
		letter-spacing: -2px;
		text-transform: capitalize;
		@include breakpoint(large){
			font-size: 3rem;
			letter-spacing: 0px;
		}
	}
	.breadcrumb{
		margin-bottom: 0;
		background-color: transparent;
		padding: 0;
		li{
			@extend %posrelative;
			display: inline-block;
			&:not(:last-child){
				padding-right: 1rem;
				margin-right: .5rem;
				&:after{
					@extend %posabsolute;
					content: '/';
				    right: 0;
				    top: 4px;
				    font-size: 10px;
					@extend %heading-color;
				}
			}
			a, span{
				@extend %heading-color;
				font-size: 1.1rem;
				text-transform: uppercase;
			}
			a{
				@extend %posrelative;
			    z-index: 1;
			}
		}
	}
	&.breadcrumb-bg-1{
		&:after{
		    background-image: url(../img/banner/leaf.png);
		    background-position: 75% bottom;
		    background-repeat: no-repeat;
		    background-size: 20% auto;
		    @include breakpoint(medium){
		    	background-position: 90% bottom;
		    }
		}
	}	
}

/*-- Tooltip --*/

.tooltip{
	@include breakpoint(small){
		display: none;
	}
	margin-bottom: 5px;
	&:hover{
		display: none;
	}
	&-inner{
		color: #fff;
		padding: 3px 10px;
		font-size: 1.3rem;
	}
	.arrow{
		&:before, 
		&:after{
			border-left-color: transparent;
			border-right-color: transparent;
			border-top-color: #000;
		}
	}
}

/*-- Google Map --*/

.google-map{
	height: 45rem;
}


/*-- Pagination --*/

.pagination{
	@extend %justify-center;
	li{
		&:not(:last-child){
			margin-right: 4px;
		}
		.page-number{
			font-size: 1.2rem;
			text-align: center;
			display: block;
			position: relative;
			background: #fff;
			border: none;
			padding: 1.5rem 1rem;
			line-height: 2rem;
			min-width: 5rem;
			@extend %basetransition;

			&.current, &:hover{
				background-color: $heading-color;
				color: #fff;
			}
		}
	}
}


/*-- Quantity --*/

.quantity{
	margin-right: 1rem;
	@extend %heading-color;
	@extend %posrelative;
    height: 7rem;
    width: 8rem;
	&-input{
	    background: none;
	    padding: 1rem;
	    width: 100%;
	    height: 100%;
	    border: 1px solid #DEDEDE;
	    line-height: 4rem;
	    color: inherit;
	    text-align: center;
		@include appearance(none);
	}
	.qtybutton {
	    position: absolute;
	    height: 6.8rem;
	    cursor: pointer;
	    width: 2rem;
	    font-size: 1.4rem;
	    font-family: sans-serif;
	    line-height: 6.8rem;
	    top: 0;
	    text-align: center;
	    @extend %heading-color;
		@include transition(all .3s ease-in);
	    &.inc{
			right: 0;
	    }
	    &.dec{
		    left: 0;	
	    }
	}
}


/*-- Tab Content & Pane Fix --*/

.tab-content {
    width: 100%;
    .tab-pane {
        display: none;
        height: 0;
        max-width: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        &.active {
        	display: block;
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
}

/*-- Global Overlay --*/

.ai-global-overlay{
	@extend %basetransition;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba($heading-color, .7);
	z-index: 1000;
	@extend %invisible;
	&.overlay-open{
		@extend %visible;
	}
}

/*-- Figure --*/

figure{
	margin: 0;
}
.image-box{
	&-w-video-btn{
		@extend %posrelative;

		.video-btn{
			@extend %posabsolute;
		    left: 4rem;
		    bottom: 4.8rem;
		}
		&:hover{
			.video-btn{
				&:after{
					@include box-shadow(0 0 0 12px rgba(255, 255, 255, 0.3));
					@include transform(scale(.9));
				}
				&:before{
					@include transform(scale(1.6));
					opacity: .6;
				}
			}
		}
		&.btn-right{
			.video-btn{
				left: auto;
				right: 4rem;
			}
		}
	}
}

/*-- Partner Carousel --*/

.partner-carousel{
	.slick-track{
		@include flexbox;
		@include align-items(center);
	}
	.single-partner{
		text-align: center;
		img{
			display: inline-block;
			opacity: .4;
			@include filter(grayscale(100));
		}
		&:hover{
			img{
				opacity: 1;
			}
		}
	}
}

/*-- Method Box --*/

.method-box{
	@extend %posrelative;
	&-wrapper{
		& > [class *= "col"]{
			&:not(:last-child){
				.method-box{
					&:after{
						@extend %pseudo;
						right: 0;
						top: 50%;
						height: 4.8rem;
						width: 1px;
						background-color: $color-light-2;
						@include transform(translateY(-50%));
						opacity: .5;
					}
				}
			}
			&:nth-child(2){
				@include breakpoint(medium){
					.method-box{
						&:after{
							display: none;
						}
					}
				}
			}
			@include breakpoint(small){
				.method-box{
					&:after{
						display: none;
					}
				}
			}
		}
	}
	h4{
		font-size: 1.2rem;
		color: $color-light-1;
		letter-spacing: 1px;
		margin-bottom: .5rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	p{
		font-weight: 400;
	}
	&-2{
		h4{
			font-size: 1.4rem;
			@extend %heading-color;
			font-weight: 600;
			margin-bottom: 0;
			line-height: 1.6;
			margin-bottom: 2px;
		}
		p{
			@extend %body-color;
			@include breakpoint(small){
				line-height: 2;
			}
		}
	}
}


/*-- Start Instagram Feed Area --*/

.insta-content-header{
	padding-right: 10rem;
	@include breakpoint(large){
		padding-right: 3rem;
		padding-left: 1.5rem;
	}
	&--2{
		padding-right: 0;
		padding-left: 0;
	}
	h2{
		@extend %primary-color;
		font-weight: 700;
		font-size: 3.8rem;
		@include breakpoint(small){
			font-size: 3rem;
		}
		@include breakpoint(xsmall){
			font-size: 2.5rem;
		}
	}
}


.instagram-feed {
	.grid-space-30{
		@include breakpoint(xlargeonly){
			margin-left: -15px;
			margin-right: -15px;
		}
		.grid-item{
			padding: 15px;
		}
	}
	&-wrapper{
		&.instagram-style-1{
			@include flexbox;
			@include flex-wrap(wrap);
			padding-top: 10%;
			
			@include breakpoint(xlargeonly){
				margin-right: -10% !important;
			}
			@include breakpoint(medium){
				padding-top: 0;
			}
			.grid-item{
				@include flex-basis(25%);
				max-width: 25%;
				&:nth-child(2n+2){
					margin-top: -10%;
					@include breakpoint(medium){
						margin-top: 0;
					}
				}
				@include breakpoint(small){
					@include flex-basis(33.3333%);
					max-width: 33.3333%;
				}
			}
		}
	}
	&-item {
		position: relative;
		z-index: 1;
		&:before {
			background-color: rgba($color-black, 0.4);
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			@include transition(0.3s);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			height: 100%;
			width: 100%;
		}
		a{
			display: block; 
		}
		img{
			width: 100%;
		}
	}
	&-hover-content {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transition(0.3s);
		opacity: 0;
		visibility: hidden;
		@include transform(translate(-50%, -50%));
		z-index: 1;
		span {
			color: $color-white;
			cursor: pointer;
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			i.fa {
			  margin-right: 5px;
			}
		}
	}

	.instagram-feed-item{
		&:hover {
			&:before {
				opacity: 1;
				visibility: visible;
			}
			.instagram-feed-hover-content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/*-- Separator --*/

.separator{
	border-color: $primary-color;
	border-width: 2px 0 0;
	border-style: solid;
	width: 5rem;
	margin-bottom: 0;
	&-color-2{
		border-color: $border-color-2;
	}
	&--2{
		width: 8rem;
	}
}
 

/*-- About Us --*/

.about-us{
	figure{
		a{
			@extend %posrelative;
			&:after{
				@extend %itemoverlay;
			}
			&:hover{
				&:after{
					@extend %itemoverlayhover;
				}
			}
		}
	}
}


/*-- Preloader --*/

.ai-preloader {
	display: none;
	&.active{
	    width: 100%;
	    text-align: center;
	    height: 100%;
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 99999999;
	    background: rgba(255, 255, 255, 1); 
	    display: block;	
	}
    .ai-child{
	    width: 20px;
	    height: 20px;
	    background-color: $primary-color;
	    border-radius: 100%;
	    display: inline-block;
		@include animation(ai-bouncedelay 1.4s ease-in-out 0s infinite both);
    }
    .ai-bounce1{
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s; 
    }
    .ai-bounce2{
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s; 
    }
}

/*-- Message Box --*/

.message-box{
	background: $color-white-dark-2;
    padding: 1.4rem 3rem;
    position: relative;
    width: auto;
    word-wrap: break-word;
    @extend %flexbox;
    @extend %justify-between;
    @extend %align-center;
    p{
    	i{
    		margin-right: 2rem;
    		color: $color-green-2;
    	}
    }
	p, a{
		@extend %heading-color;
		margin: 0;
	}
	a{
		&:hover{
			@extend %primary-color;
		}
	}
}

/*-- List With Icon --*/

.list-with-icon{
	li{
		@extend %flexbox;
		@extend %align-center;
		color: $color-light-3;
		i{
			@extend %primary-color;
		    font-size: 2.8rem;
		    width: 25px;
		    margin-right: 30px;
		}
	}
}

/*-- Coming Soon --*/

.coming-soon-area{
	background: url(../img/others/coming-soon-bg.jpg) no-repeat scroll center/cover;
	width: 100%;
	height: 100vh;
}

/*-- Countdown Timer --*/

.countdown-timer{
	
	.countdown{
		display: flex;
	}
	.single-countdown{
		text-align: center;
		margin-right: 5rem;
		&__time{
			color: $color-white;
			display: block;
			font-size: 3.5rem
		}
		&__text{
			color: $color-white;
			display: block;
		}
	}
}

/*-- Google Map --*/

#google-map{
	height: 27rem;
}
.snptwdgt-container .snptwdgt-rtd__ftr{
	display: none;
}

.mailchimp-alerts{
	*{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.mailchimp{
		&-error{
			color: $color-red;
		}
		&-success{
			color: $color-green;	
		}
	}
}