/*****************************
11. Footer CSS
*****************************/

.footer{
	&-top{
		font-size: 1.2rem;
	}
	&-widget{
		.widget-title{
			@extend %white-color;
		    text-transform: uppercase;
		    font-weight: 500;
		    letter-spacing: 2px;
		    margin: 0 0 2rem;
		    padding-bottom: 2rem;
		    line-height: 1;
		    font-size: 14px;
		    @extend %posrelative;
		    &:after{
		    	@extend %pseudo;
		    	left: 0;
		    	bottom: 0;
		    	width: 3rem;
		    	height: 1px;
		    	background-color: $primary-color;
		    }
		    &--2{
		    	color: $heading-color !important;
			    margin: 0 0 2rem;
			    padding-bottom: 0;
			    font-size: 14px;
			    font-weight: bold;
			    text-transform: capitalize;
			    letter-spacing: 0;
		    	&:after{
		    		display: none;
		    	}
		    	@include breakpoint(small){
		    		margin: 0 0 1rem;
		    	}
		    }
		    &--icon{
		    	@extend %posrelative;
		    	padding-left: 4rem;
		    	line-height: 1.3;
		    	&:before{
				    content: '\f003';
				    font-family: FontAwesome;
				    position: absolute;
				    left: 0;
				    font-size: 24px;
				    font-weight: 300;
				    line-height: 1;
				    margin-top: -5px;
				    top: 0;
		    	}
		    }
		}
		.widget-menu{
			li{
				&:not(:last-child){
					margin-bottom: 1.5rem;
				}
			}
			a{
				@extend %body-color;
				padding: 3px 0;
				font-weight: 400;
				display: block;
				font-size: 1.2rem;
				&:hover{
					@extend %primary-color;
				} 
			}
			&--2{
				li{
					&:not(:last-child){
						margin-bottom: 1rem;
					}
				}
			}
		}
		.contact-info{
			&__item{
				margin-bottom: 1.5rem;
				@include flexbox;
				@include align-items(flex-start);
				span{
					padding-left: 1.5rem;
				}
				i{
					font-size: 1.7rem;
					min-width: 2rem;
				}
				p, a{
					font-size: 1.2rem;
					@extend %body-color;
				}
			}
			&--2{
				.contact-info{
					&__item{
						display: inline-block;
						margin-bottom: 0;
						padding-left: 1rem;
						@extend %heading-color;
						font-size: 1.2rem;
						span{
							padding-left: .5rem;
						}
						i{
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
	a{
		&:hover{
			@extend %primary-color;
		}
	}
	&-menu{
		li{
			display: inline-block;
			padding-right: 5px;
			&:not(:last-child){
				border-right: 1px solid $heading-color;
			}
			a{
				@extend %heading-color;
			}
		}
	}
	&-2{
		@extend %posabsolute;
		left: 0;
		bottom: 3rem;
		width: 100%;
		z-index: 999;
		@include breakpoint(small){
			position: relative;
			bottom: 0;
		}
		.copyright-text{
			@extend %heading-color;
			font-size: 1.4rem;
		}

	}
	&-3{
		
	}
}
.copyright-text{
	font-size: 1.2rem;
}
