/*****************************
24. Comment CSS
*****************************/

.comment{
	margin-bottom: 3.5rem;
	@include breakpoint(small){
		margin-bottom: 2.5rem;
	}
	&-reply-title{
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 2rem;
	}
	&-notes{
		font-size: 1.2rem;
		color: $body-color;
		margin-bottom: 1rem;
	}
	.single-comment{
		border: 1px solid $border-color-2;
		margin: 0 0 2rem;
		padding: 3rem;
		width: 100%;
		@extend %flexbox;
		@extend %flex-wrap;
		@include breakpoint(small){
			padding: 2rem;
		}
	}
	&-avatar{
		@include flex-basis(5rem);
		height: 5rem;
		margin-right: 2.5rem;
		@include breakpoint(xsmall){
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
	&-info{
		@include flex-basis(calc(100% - 7.5rem));
		@extend %heading-color;
		@include breakpoint(xsmall){
			@include flex-basis(100%);
		}
	}
	&-meta{
		margin-bottom: 1rem;
		@extend %posrelative;
	}
	&-author{
		a{
			@extend %heading-color;
			&:hover{
				@extend %primary-color;
			}
		}
	}
	&-date{
		font-size: 1.1rem;
	}
	&-content{
		p{
			@extend %heading-color;
		}
	}
	.reply{
	    border: 1px solid $heading-color;
	    @extend %heading-color;
	    display: inline-block;
	    font-size: 1.2rem;
	    padding: .6rem 1.8rem;
	    text-transform: uppercase;
	    @extend %posabsolute;
	    right: 0;
	    top: 0;
	    &:hover{
	    	@extend %primary-bg-color;
	    	@extend %primary-border-color;
	    	color: #fff;
	    }
	}
	.children{
		margin-left: 2rem;
	}

}

