/*****************************
25. Form CSS
*****************************/

/*-- 25.00 - Global Form --*/

.form{
	&-row{
		margin-left: -1rem;
		margin-right: -1rem;
		[class*="col-"]{
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	&__label{
	    display: block;
	    margin-bottom: 5px;
	    &--2{
	    	@extend %heading-color;
	    	margin-bottom: 8px;
	    	font-size: 1.2rem;
	    }
	    &--3{
	    	@extend %heading-color;
	    	margin-bottom: 8px;
	    	font-size: 1.4rem;
	    }
	    &.checkbox-label{
	    	margin-bottom: 0;
	    	margin-left: 3rem;
	    	@extend %heading-color;
	    	span{
	    		display: inline-block;
	    		padding-left: 5px;
	    	}
	    }
	}
	&__input{
		background-color: transparent;
		color: $body-color;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 100%;
		height: 5rem;
		line-height: 1.6rem;
		border: 1px solid $border-color;
		&:focus{
			border-color: #555;
		}
		&--textarea{
			height: 15rem;
			padding: 1rem 2rem;
		}
		&--2{
			height: 6rem;
			color: $heading-color;
			&.nice-select{
				line-height: 6rem;
			}
			@include placeholder{
				color: $heading-color;
			}
		}
		&--3{
			height: 7rem;
			line-height: 6.8rem;
		}
		&.nice-select{
			.list{
				width: 100%;
			    width: 100%;
			    height: 400px;
			    overflow-y: auto;
			    padding-top: 7rem !important;
			}
		}
	}
	&__output{
		text-align: right;
		margin-top: .5rem;
		&.success{
			color: $color-green;
		}
		&.error{
			color: $color-red;
		}
	}
	&__fieldset{
	    border: 1px solid $border-color-2;
	    margin: 0;
	    padding: 15px;
	}
	&__legend{
		border: 0;
		padding: 0 10px;
		display: inline-block;
		font-size: inherit;
		width: auto;
	}
	.suggestion{
		display: inline-block;
		margin-top: 4px;
	}
	.help-block{
		font-size: 1.4rem;
		span{
			color: $color-red-light
		}
	}
	.forgot-pass{
		margin: 0;
		@extend %primary-color;
		font-size: 1.2rem;
		&:hover{
			text-decoration: underline;
		}
	}
	.privacy-text{
		font-size: 1.2rem;
	}
	.nice-select{
		width: 100%;
		border-color: $border-color;
		@include border-radius(0);
		color: $heading-color;
	}

	&--checkout{
		.form{
			&__label{
				font-size: 1.4rem;
				&.shipping-label{
					display: inline-block;
				}
			}
			&__input{
				&--textarea{
					height: 12rem;
					background-color: $color-white-dark-1;
					border-color: $color-white-dark-1;
				}
			}
		}
	}
	&--track{
		.form{
			&__input{
				@include placeholder{
					color: $heading-color;
				}
			}
		}
	}
}
.reply-title{
	@extend %heading-color;
	font-size: 1.4rem;
	margin-bottom: 1rem;
	display: inline-block;
}
.required{
	color: $color-red;
}

/*-- 25.01 - Rating --*/ 
.stars{
	[class*="star-"] {
	    display: inline-block;
	    text-indent: -9999em;
	    overflow: hidden;
	    height: 1.6rem;
	    line-height: 1.6rem;
	    margin-left: 1rem;
	    padding-left: 1rem;
	    vertical-align: middle;

	    &:first-child{
		    margin-left: 0;
		    padding-left: 0;
	    }

	    &:hover,
	    &.active{
	    	color: #f5b324;
	    }
	    &:before{
		    font-family: 'dl-icon';
		    direction: ltr;
		    content: '\29';
		    text-transform: none;
		    display: block;
		    text-indent: 0;
	    }
	}	
	.star-2:before {
	    content: '\29\29';
	}
	.star-3:before {
	    content: "\29\29\29";
	}
	.star-4:before {
	    content: "\29\29\29\29";
	}
	.star-5:before {
	     content: "\29\29\29\29\29"; 
	}
}

/*-- 25.02 - Search Form --*/ 

.searchform{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    @extend %posrelative;

	&__input{
		width: 800px;
		background-color: transparent;
		border: 0;
		border-bottom: 2px solid $color-dark-2;
		text-align: center;
		font-size: 3rem;
		padding: 1rem 5rem 1rem 1rem;
		transition: all .3s ease-out;
		font-weight: 300;
		max-width: 100%;
		color: $color-dark-2;;
		@include placeholder{
			color: $color-dark-2;
		}
		@include breakpoint(small){
			font-size: 2rem;
			padding: 1rem 4rem 1rem 1rem;
		}
	}
	&__submit{
		@extend %posabsolute;
	    display: block;
	    right: 5px;
	    border: none;
	    color: #000;
	    background: none;
	    padding: 0;
		font-size: 3rem;
		height: 3rem;
		top: 50%;
		@include transform(translateY(-50%));
		@include breakpoint(small){
			font-size: 2rem;
			height: 2rem;
		}
	}

	&-2{
		width: auto;
		margin-left: auto;
		margin-right: 0;
		@extend %absFlexCenter;
		padding-right: 5px;
		.searchform{
			&__input{
				height: 3rem;
				font-size: 1.2rem;
				border-bottom: 1px solid $border-color;
				width: 16.5rem;
				text-align: left;
				padding: 1rem 0;
			}
			&__submit{
			    text-align: right;
			    font-size: 16px;
			    width: 30px;
			    position: static;
			    @include transform(translateY(0));
			}
		}
	}
}

/*-- 25.03 - Newsletter Form --*/ 

.newsletter-form{
	@extend %posrelative;
	&__input{
	    background: transparent;
	    border-width: 0 0 1px;
	    border-style: solid;
	    border-color: $border-color;
	    width: 100%;
	    line-height: 32px;
	    padding: 6px 100px 6px 10px;
	    margin: 0;
	    color: $heading-color;

		&:focus{
		    @include placeholder{
		    	color: $heading-color;
		    }
		}
	    @include placeholder{
	    	color: $body-color;
	    }

		&.input--2{
			border: 1px solid $color-light-6;
			padding: 18px 60px 18px 20px;
			color: #fff;
			@include placeholder{
				color: #fff;
			}
		}
	}
	&__submit{
		@extend %posabsolute;
		color: $heading-color;
		border: none;
		background: none;
		line-height: 32px;
		top: 5px;
		right: 0;
		font-size: 1.6rem;
		font-weight: 700;
		&.submit--2{
			width: 6rem;
			padding: 2rem;
			color: #fff;
			font-size: 2.2rem;
			line-height: 3.6rem;
			top: 0;
			height: 6.8rem;
		}
	}

	&--2{
		width: 35rem;
		@include breakpoint(xsmall){
			width: 90%;
		}
		.newsletter-form{
			&__input{
				@extend %body-color;
			}
			&__submit{
				&:hover{
					@extend %primary-color;
				}
			}
		}
	}
	&--3{
		.newsletter-form{
			@extend %posrelative;
			&__input{
				padding-right: 4rem;
				color: inherit;
				font-size: 1.4rem;
			}
			&__submit{
				background: none;
				border: none;
				@extend %posabsolute;
			    right: 0;
			    width: 4rem;
			    height: auto;
			    font-size: 2.2rem;
			    padding: 0;
			    line-height: 1;
			    top: 11px;
			}
		}
	}

	&--4{
		width: 57rem;
		max-width: 100%;
		.newsletter-form{
			&__input{
				border-color: rgba($color-white, .4);
				color: $color-white;
				@include placeholder{
					color: $color-white;
				}
				&:focus{
					border-color: rgba($color-white, 1);
				}
			}
			&__submit{
				color: $color-white;
				font-weight: 400;
			}
		}
	}
}


.popup-newsletter-form{
	&__input{
	    background: #fff;
	    border: 1px solid #CECECE;
	    outline: none !important;
	    width: 100%;
	    line-height: 30px;
	    padding: 14px 20px;
	    margin: 10px 0 20px;
	}
}

/*-- 25.04 - Cart Form --*/ 

.cart-form{
	&__input{
		border: none;
		border-bottom: 1px solid $border-color;
		@extend %heading-color;
		width: 100%;
		font-size: 1.2rem;
		padding-bottom: .5rem;
		@include placeholder{
			color: $heading-color;
		}
	}
	&__btn{
		background: none;
		border: none;
		@extend %heading-color;
		font-weight: 700;
		font-size: 1.4rem;
		&:hover{
			@extend %primary-color;
		}
	}
	.coupon{
		@extend %posrelative;
		@include breakpoint(xsmall){
			margin-bottom: 2rem;
		}
		.cart-form{
			&__input{
				
			}
			&__btn{
				@extend %posabsolute;
				right: 0;
				top: 0;
			}
		}
	}
}

/*-- 25.05 - Shipping Calculator Form --*/ 

.shipping-calculator-form{
	select, input{
		width: 100%;
		height: 4rem;
		border: 1px solid $border-color;
		font-size: 1.2rem;
		padding: 0 1.5rem;
		@extend %heading-color;
		@include placeholder{
			color: $heading-color;
		}
	}
	input{

	}
	input[type="submit"]{
		background: none;
		border: none;
		@extend %heading-color;
		font-size: 1.4rem;
		font-weight: 700;
		padding: 0;
		width: auto;
		height: auto;
	}
	.nice-select{
		height: 4rem;
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}