/*****************************
27. Modal CSS
*****************************/

/*-- 27.00 - Quick View Modal --*/

.modal {
	display: block !important;
	@extend %invisible;
	z-index: -9;
	padding-right: 0 !important;
}
.modal.show {
	@extend %visible;
	z-index: 1050;
}
.product-modal{
	.modal-dialog{
		max-width: 100%;
		width: 1125px;
		margin: 75px auto 50px;
		background: #fff;
		@include breakpoint(xclarge){
			max-width: 95%;
			width: 1025px;
		}
	}	
	.modal-content{
	    border: none;
	    border-radius: 0;
	    background-color: transparent;
	}
	.modal-body{
	    padding: 0;
	}
	.modal-box{
		&.product-summary{
			padding: 4rem 2rem 2rem;
			@include breakpoint(large){
				padding-top: 7rem;
			}
			@include breakpoint(small){
				padding: 4rem 2rem;
			}
			.product{
				&-title{

					@include breakpoint(medium){
						font-size: 2rem;
					}
				}


			}
			.quantity{
				height: 6rem;
				width: 7rem;
				@include breakpoint(xsmall){
				    height: 5.5rem;
				    width: 6rem;
				}
				.qtybutton {
				    height: 6rem;
				    line-height: 5.8rem;
				}
			}
		}

	}
	.custom-close{
		@include breakpoint(large){
			left: auto;
			right: 0;
			z-index: 9;
		}
	}
}

.custom-close{
	background-color: #292929 !important;
	position: absolute;
	left: 100%;
	top: 0 !important;
	text-align: center !important;
	font-size: 2.4rem;
	line-height: 1;
	display: block;
	padding: 1.8rem !important;
	color: #fff !important;
	font-weight: 300;
	text-shadow: 0 0 0 #fff;
	opacity: 1 !important;
	width: 6rem !important;
	height: 6rem !important;
	@include breakpoint(medium){
		left: auto;
		top: 0 !important;
		bottom: 100% !important;
		right: 0 !important;
	}
    i{
	    display: inline-block;
	    vertical-align: middle;
	    @extend %basetransition;
	    &.mfp-close {
		    width: auto !important;
		    height: auto;
		    line-height: 60px;
		    position: absolute;
		    right: 50%;
		    top: 0;
		    margin-right: -12px;
		    text-decoration: none;
		    text-align: center;
		    opacity: 1;
		    padding: 0;
		    font-style: normal;
		    font-size: inherit;
		    font-family: "dl-icon" !important;
		}
    }
    &:hover{
    	i{
    		@include transform(rotate(90deg));
    		@extend %primary-color;
    	}
    }
}

/*-- 27.01 - Newsletter Form Popup --*/

.ai-newsletter-popup{
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	@include flexbox;
	z-index: 9999999;
	padding: 10px; 
	&-modal{
	    margin: auto;
	    background-color: #fff;
	    position: relative;
	    max-width: 107rem;
	    min-height: 46rem;
	    width: 100%;
	    @include breakpoint(small){
	    	min-height: auto;
	    	height: auto;
	    }
	}
	&-content{
		background-image: url(../img/banner/bg-newsletter.jpg);
	    background-repeat: no-repeat;
	    background-position: right center;
	    background-color: #ffffff;
	    min-height: 46rem;
	    @include flexbox;
	    @include align-items(center);
	    @include breakpoint(medium){
	    	background-position: 140% center;
	    }
	    @include breakpoint(small){
	    	background-position: 550% center;
	    	min-height: auto;
	    }
	    @include breakpoint(xsmall){
	    	background-image: none;
	    	
	    }
	}
	&-body{
		margin-left: 8rem;
		width: 50rem;
		@include breakpoint(large){
			margin-left: 4rem;
		}
		@include breakpoint(medium){
			width: 41rem;
		}
		@include breakpoint(small){
			width: 100%;
			margin: 6rem 4rem;
		}

		h5{
		    font-size: 1.8rem;
		    @extend %body-color;
		    margin: 1rem 0;
		}
		.heading-tertiary{
			color: $heading-color;
		}
		.dont-show-popup{
			margin-bottom: 0;
		}
	}
	.custom-close{
		@include breakpoint(large){
			left: auto;
			top: 0 !important;
			bottom: 100% !important;
			right: 0 !important;
		}
	}
}

/*-- 27.02 - Search Form Popup --*/

.searchform{
	&__popup{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		@extend %invisible;
		background-color: rgba(255, 255, 255, 0.9);
		text-align: center;
		transition: all ease-in-out .25s;
		z-index: 9999;
		color: $color-dark-2;
		p{
			margin-bottom: 1.5rem;
			color: $color-dark-2;
			font-size: 1.8rem;
		} 
	    &.open{
	    	@extend %visible;
	    	.searchform__body{
			    visibility: visible;
			    opacity: 1;
			    transform: scale(1);
			    -webkit-transform: scale(1);
	    	}
	    }
	    .btn-close{
		    top: 20%;
		    right: 20%;
		    width: 5rem;
		    height: 5rem;
		    i{
		    	font-size: 5rem;
		    	@include breakpoint(xsmall){
		    		font-size: 4rem;
		    	}
		    }
		    @include breakpoint(large){
		    	right: 10%;
		    }
		    @include breakpoint(medium){
		    	right: 8%;
		    	font-size: 4rem;
		    }
		    @include breakpoint(small){
		    	right: 6%;
		    	top: 30%;
		    }
		    @include breakpoint(xsmall){
		    	top: 25%;
		    }
	    }
	}
	&__body{
	    @include flexbox;
	    @include justify-content(center);
	    @include align-items(center);
	    @include flex-direction(column);
	    max-width: 100%;
	    height: 100%;
	    text-align: center;
	    font-size: 18px;
	    transform: scale(0.9);
	    -webkit-transform: scale(0.9);
	    opacity: 0;
	    visibility: hidden;
	    transition: all ease-in-out .3s;
	    @include breakpoint(medium){
	    	max-width: 90%;
	    	margin: 0 auto;
	    }
	}
}
