.single-slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    &.slider-height{
        height: calc(100vh - 130px);
        width: 100%;
    } 
    .slider-content{
        .slider-heading{
            font-weight: 600;
            &--main{
                font-size: 60px;
                display: block;
                @include breakpoint(medium){
                    font-size: 50px;
                }
                @include breakpoint(small){
                    font-size: 40px;
                }
            }
            &--sub{
                font-size: 50px;
                @include breakpoint(medium){
                    font-size: 40px;
                }
                @include breakpoint(small){
                    font-size: 30px;
                }
            }
        }
    }
}