/*****************************
00. Global CSS
*****************************/

//===== Colors =====//
 
$body-color:    #8a8a8a;
$primary-color: #cf987e;
$heading-color: #282828;
$brand-color:   #40576c;
$bg-color:      #242424;
$bg-color-2:    #343434;

//===== Font Family =====//

$body-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$font-2: 'Playfair Display', serif;
$font-3: 'Roboto Condensed', sans-serif;;


//==== Font size =====//
$body-font-size: 1.4rem;

//==== Line height ====//

$line-height: 1.3;

//==== Border Color ====//

$border-color: #a3a3a3;
$border-color-2: #C5C5C5;
$border-color-3: #beada5;
$border-radius: 4px;


//==== Color =====//
$color-white:    	   #ffffff;
$color-white-light:    #d0d0d0;
$color-white-light-1:  #f2f2f2;
$color-white-light-2:  #f1f1f1;
$color-white-light-3:  #f7f6f7;
$color-white-light-4:  #EFEFEF;
$color-white-light-5:  #f9f9f9;
$color-white-light-6:  #E1E1E1;
$color-white-dark:     #f6f6f6;
$color-white-dark-1:   #f7f7f7;
$color-white-dark-2:   #eeeff2;
$color-light:    	   #999999; 
$color-light-1:  	   #DFDFDF; 
$color-light-2:  	   #3E3E3E; 
$color-light-3:  	   #5D5D5D; 
$color-light-4:  	   #e7e7e7;  
$color-light-5:  	   #5a5a5a;  
$color-light-6:  	   #D8D8D8;  
$color-black:    	   #000000; 
$color-white:    	   #ffffff; 
$color-dark:     	   #333333; 
$color-dark-1:   	   #444444;
$color-dark-2:   	   #111111;
$color-dark-3:   	   #2e2e2e;
$color-dark-4:   	   #212121;
$color-dark-5:   	   #1d1d1d;
$color-dark-6:   	   #616161;
$color-dark-7:   	   #343434;
$color-dark-8:   	   #323232;
$color-blue:     	   #2874f0;
$color-blue-light:     #5dabd8;
$color-yellow:         #ffe11b;
$color-yellow-2: 	   #f5a623;
$color-yellow-dark:    #e0b70e;
$color-red:            #ea4a30;
$color-red-light:      #db3232;
$color-red-dark:       #d0021b;
$color-red-dark-2:     #9a512f;
$color-green:          #4cbb6c;
$color-green-dark:     #1f4244;
$color-green-2:        #6dde6d;
$color-gray:           #f5f5f5;
$color-gray-2:         #EAEAEA;
$color-gray-3:         #b5b5b5;
$color-gray-4:         #e8e8e8;
$color-gray-5:         #f3f3f3;
$color-gray-6:         #545454;
$color-orange:         #F39C11;
$color-shaft-light:    #2f2f2f;
$color-pink-light:     #a302f9;
$color-pampas: 	       #f4f0ee;

//==== Social Color =====//

$facebook-color:    #3b579d;
$twitter-color:     #3acaff;
$google-plus-color: #dd4b39;
$linkedin-color:    #0097bd;
$pinterest-color:   #cb2027;
$instagram-color:   #833ab4;
$skype-color:       #00aff0;
$share-color:       #fe6d4c;
